{% raw %}
<script id="bracket_box" type="text/x-handlebars-template">
  <div class='b b{{side}} b{{blevel}}{% if blevel==4 %} first_round{%endif%}' id='b{{blevel}}-{{spot}}-{{side}}'>
      <div {% if team1 %}title="{{team1.seed}}. {{team1.name}} - {{team1.sid}}"{% endif %} class='team top'>{% if team1 %}{{team1.seed}}. {{team1.name}}{%endif%}</div>
      <div {% if team2 %}title="{{team2.seed}}. {{team2.name}} - {{team2.sid}}"{% endif %} class='team bottom'>{% if team2 %}{{team2.seed}}. {{team2.name}}{%endif%}</div>
  </div>
</script>

<script id="final_four_games" type="text/x-handlebars-template">
  <div id='ff-rd1'>
    <div class="ff-team" id='ff-rd1-team1'>{% if finalist1 %}{{finalist1.seed}}. {{finalist1.name}}{% endif %}</div>
    <div class="ff-team" id='ff-rd1-team2'>{% if finalist2 %}{{finalist2.seed}}. {{finalist2.name}}{% endif %}</div>
    <div id='ff-rd2'><span id='ff-rd2-span'>{{winner}}</span></div>
  </div>
</script>
{% endraw %}
