<div id='help_doc'>
  <div class='title'>Coder's Bracket Documentation</div>
  <div class="alert alert-info hide"><strong>Heads up!</strong><br>The current data-set is from the2013 season. This year's 2014 bracket data will be uploaded immediately following Selection Sunday on March 16th.</div>
  
  <p>Your game picker function is provided three variables: <strong>team1</strong>, <strong>team2</strong> and <strong>game</strong>.</p>
  <p>Each of these variables holds an object with important information to help you determine the winner of the game. You can reference the stat you want by using the "dot notation", like <code>team1.losses</code> or <code>team1.win_pct</code> or <code>game.round</code>.</p>
  <div class='subtitle'>team1 & team2 Objects</div>
  <p>
    <table class='table'>
      <thead>
        <tr>
          <th>Property</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>name</td><td>Name of team</td></tr>
        <tr><td>conf</td><td>Name of Conference (<a href='https://gist.github.com/nimitmaru/9592653' target='_new'>view all</a>)</td></tr>
        <tr><td>seed</td><td>Seed in March Madness Bracket</td></tr>
        <tr><td>games_played</td><td>Total games played by team</td></tr>
        <tr><td>rpi</td><td>A measurement of strength of schedule.</td></tr>
        <tr><td>official_rank</td><td>Rank of team</td></tr>
        <tr><td>wins</td><td>Number of wins</td></tr>
        <tr><td>losses</td><td>Number of losses</td></tr>
        <tr><td>win_pct</td><td>Win percentage</td></tr>
        <tr><td>field_goals_made</td><td>Field goals made</td></tr>
        <tr><td>field_goals_attempted</td><td>Field goals attempts</td></tr>
        <tr><td>field_goal_pct</td><td>Field Goal percentage</td></tr>
        <tr><td>free_throws_made</td><td>Free throws made</td></tr>
        <tr><td>free_throws_attempted</td><td>Free throws attempts</td></tr>
        <tr><td>free_throw_pct</td><td>Free throws percentage</td></tr>
        <tr><td>threes_made</td><td>3-pointers made</td></tr>
        <tr><td>threes_attempted</td><td>3-pointers attempts</td></tr>
        <tr><td>three_point_pct</td><td>3-point percentage</td></tr>
        <tr><td>total_reb</td><td>Total Rebounds</td></tr>
        <tr><td>off_reb</td><td>Offensive Rebounds</td></tr>
        <tr><td>def_reb</td><td>Defensive Rebounds</td></tr>
        <tr><td>reb_per_game</td><td>Rebounds per game</td></tr>
        <tr><td>total_steals</td><td>Total Steals</td></tr>
        <tr><td>steals_per_game</td><td>Steals per Game</td></tr>
        <tr><td>total_blocks</td><td>Total Blocks</td></tr>
        <tr><td>blocks_per_game</td><td>Blocks per game</td></tr>
        <tr><td>total_assists</td><td>Total Assists</td></tr>
        <tr><td>assists_per_game</td><td>Assists per game</td></tr>
        <tr><td>turnovers</td><td>Turnovers</td></tr>
        <tr><td>turnovers_per_game</td><td>Turnovers per game</td></tr>
        
      </tbody>
    </table>
  </p>
  <div class='subtitle'>game Object</div>
  <p>
    <table class='table'>
      <thead>
        <tr>
          <th>Property</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>round</td><td>Round of current game. Value ranges from 0 to 5 where 5 is the first round and 0 is the championship.</td></tr>
        <tr><td>date</td><td>Date of game</td></tr>
      </tbody>
    </table>
  </p>
  <div class='subtitle'>Writing the function</div>
  <ul>
    <li>The game picking function definition should look like this: <code>function (game, team1, team2) {}</code></li>
    <li>To indicate a team's win, call the function: <code>team1.winsGame()</code> or <code>team2.winsGame()</code></li>
    <li>To give both team1 and team2 a chance to win, make sure both teams have their respective <code>winsGame()</code> function called at some point in your logic.</li>
  </ul>
  
  <p>For more questions or help, please email <a href="mailto:codersbracket@fullstackacademy.com">codersbracket@fullstackacademy.com</a>.</p>
</div> <!-- end help_doc -->
