<script type="text/template" id="welcome-guider">
  Are you ready for some <strong>JavaScript powered college basketball</strong>?  We've made a quick tour to help you navigate the Bracket Editor (you can also watch the video below).  Don't worry, it's easy, quick and fun!  <br /><br />

  <h4>Two-minute Walkthrough of Coder's Bracket</h4>
  <div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/bUVOlBc1aus?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</script>

<script type="text/template" id="action-guider">
  These three buttons are what you'll be using as you build your bracket.  Press <strong>Generate</strong> anytime you want to test your game-picking function.  It will run your game-picking code against all the match-ups and generate a bracket.<br /><br />

  <strong>Examples</strong> are a great place to get some ideas for how to write a game-picking function.  There are great examples of using randomness and specific statistics.  

  <br />
  <br />

  <strong>Help</strong> shows you all the various information about a game or a specific team that you have access to in your function.  For example, if you want to see what properties are available on each team, check out <strong>Help &gt; Show Documentation</strong>
</script>

<script type="text/template" id="editor-guider">
  The editor window is where you can write your actual code.  Your code needs to be a <strong>function</strong> that at some point in it's execution, says that one of the team wins the game (using <strong>team1.winsGame()</strong>) for example.
</script>
