{% extends "layout.html" %}
  
{% block content %}
  <div class='row rules_page'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h1>About Coder's Bracket</h1>
      <hr>
      <p>Coder's Bracket is the product of an internal open-source project at Fullstack Academy. Contributers included students of FSA10, staff and developers from the NYC community.</p>
      
      <h3 style='margin-bottom: 10px;'>Contributers</h3>
      <h4><strong>Students</strong></h4>
      <p>FSA students with pull-requests to the project:</p>
      <ul>
        <li><a href="https://twitter.com/jihokoo">Ji Ho Koo</a></li>
        <li><a href="https://www.linkedin.com/pub/jisan-zaman/33/903/77">Jisan Zaman</a></li>
        <li><a href='http://www.maxgiraldo.com'>Max Giraldo</a></li>
        <li><a href="https://www.linkedin.com/in/migidomingo">Migi Domingo</a></li>
        <li><a href="https://www.linkedin.com/profile/view?id=321122928">Russell Ingram</a></li>
      </ul>
      
      <h4><strong>Staff</strong></h4>
      <p>Staff who contributed to the project:</p>
      <ul>
        <li>Asuquo Obong</li>
        <li>Charlotte Leasia</li>
        <li>David Yang</li>
        <li>Hannah Jane Buchanan</li>
        <li>Nimit Maru</li>
        <li>Scott D'Alessandro</li>
      </ul>


      <h3 style='margin: 25px 0 10px 0;'>Contact Us</h3>
      <p>Please contact us at codersbracket@fullstackacademy.com for press, sponsorship or other comments/feedback!</p>
      
    </div>
  </div>
    
{% endblock %}