{% extends "layout.html" %}
  
{% block content %}
  <div class='row rules_page'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h1>Prizes</h1>
      <hr>
      <h3>Grand Prize</h3>
      <ul class='contest_rules'>
        <li>$2,000 cash prize or a $5,000 scholarship to attend <a href="http://www.fullstackacademy.com">Fullstack Academy</a>.</li>
        <li>2 free years of <a href="http://www.github.com"><strong>GitHub</strong></a>.</li>
        <li>1 free year of <a href="http://www.codeschool.com"><strong>Code School</strong></a>.</li>
        <li>Three free courses on <a href="http://www.udemy.com">Udemy</a>.</li>
      </ul>

      <h3>Most Creative Algorithm <span style='font-size: 14px;'>(sponsored by <a href='http://www.codeschool.com'>Code School</a>)</span></h3>
      <ul class='contest_rules'>
        <li>1 year of <a href="http://www.codeschool.com">Code School</a> for free.</li>
      </ul>
      
      <h3>Best Algorithm Shared on GitHub <span style='font-size: 14px;'>(sponsored by <a href='http://www.github.com'>GitHub</a>)</span></h3>
      <ul class='contest_rules'>
        <li>2 years of <a href="http://www.codeschool.com">GitHub</a>for free.</li>
      </ul>
      
      <h3>Donation Gift</h3>
      <p>For those who donate to the STEM non-profits we are supporting, we offer the following thank you gifts.</p>
      <ul class='contest_rules'>
        <li>3 months of <a href="http://www.codeschool.com">Code School</a> to three randomly picked donors.</li>
        <li>1 year of <a href='http://www.github.com'>GitHub</a> for free to five randomly picked donors.</li>
      </ul>
    </div>
  </div>
    
{% endblock %}