{% extends "layout.html" %}
  
{% block content %}
  <div class='row rules_page'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h1>Contest Rules</h1>
      <ul class='contest_rules'>
        <li>One account per person please. You may not create multiple accounts to submit brackets!</li>
        <li>No brackets will be accepted after the first game of the main tournament starts on March 19th @ 12:15 PM EDT.</li>
      </ul>
      
      <p>Please email codersbracket@fullstackacademy.com if you have any questions about the rules.</p>
    </div>
  </div>
    
{% endblock %}