{% extends "layout.html" %}

{% block title %}
Make a Donation
{% endblock%}

{% block content %}
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h1>Make a Donation</h1>
      <hr>
      <p>Your donation will help great non-profits strenghten their causes to advance STEM education. As a thank you, you will get some awesome prizes for donors only. Thank you for your help!</p>
      <div class='donate_form' data-ng-controller="UsersCtrl">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Make a Donation</h3>
        </div>
        <div class="panel-body">
          <form method="POST" action="/donate" data-ng-show="global.authenticated">
            <span class="payment-errors"></span>
            <div class="form-row">
              <label>
                <span>Amount</span>
                <input type="text" size="20" name="amount"/>
              </label>
            </div>
            <button type="submit">Submit Payment</button>
          </form>
          <form method="POST" action="/donate" id="payment-form" data-ng-hide="global.authenticated">
            <span class="payment-errors"></span>

            <div class="form-row hide">
              <label>
                <span>Currency</span>
                <input type="text" size="20" name="currency" value='USD' class="form-control" />
              </label>
            </div>

            <div class="form-row">
            
            <div class="form-row">
              <label>
                <span>First Name</span>
                <input type="text" size="20" data-stripe="number" id='input_card_first' value="{{user.name.first}}" class="form-control" />
              </label>
            </div>

            <div class="form-row">
              <label>
                <span>Last Name</span>
                <input type="text" size="20" data-stripe="number" id='input_card_last' value='{{user.name.last}}' class="form-control" />
              </label>
            </div>
            {% raw %}
            
              <label>
                <span>Amount</span>
                <input type="hidden" size="20" name="amount" id='donateAmount' value="{{donationAmount}}" class="form-control" />
                
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model='donationAmount' value="5">
                    $5
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model='donationAmount' value="10">
                    $10
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model='donationAmount' value="20">
                    $20
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model='donationAmount' value="50">
                    $50
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model='donationAmount' value="100">
                    $100
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-click="showOther()">
                    Other Amount
                  </label>
                </div>
                
                <div class="radio" id='other_amt' ng-show='useOtherVal'>
                  <label>
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="text" name="otherAmount" id="otherAmountInput" ng-model='donationAmount' ng-blur='useOtherVal=false' class='form-control'>
                    </div>
                  </label>
                </div>
                
                <div class="form-row" id='totalDonationBox'>
                  <label>
                    <span>Total Donation Amount</span>
                  </label>
                  <div id='totalDonationAmt'> {{ donationAmount||"20" }} </div>
                </div>
                
              </label>
            </div>
            
            {% endraw %}

            <div class="form-row">
              <label>
                <span>Card Number</span>
                <input type="text" size="20" data-stripe="number" id='input_card_number' class="form-control" />
              </label>
            </div>

            <div class="form-row">
              <label>
                <span>CVC</span>
                <input type="text" size="4" data-stripe="cvc" class="form-control" />
              </label>
            </div>

            <div class="form-row">
              <label>
                <span>Expiration (MM/YYYY)</span>
                <input type="text" size="2" data-stripe="exp-month"/>
              </label>
              <span> / </span>
              <input type="text" size="4" data-stripe="exp-year"/>
            </div>
            <br>
            <button type="submit" class='btn btn-warning'>Make Donation</button>
          </form>

        </div>
      </div>
      
      </div> <!-- end donate_form -->
      <br>
      <h3 id='ngo_header'>Your Donation Will Benefit</h3>
      <hr>
      <div id='ngo_logos'>
        <a href="http://www.code.org"><img src="http://code.org/images/logo.png"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.codenow.org"><img src="http://codenow.org/wp-content/themes/CodeNOW/library/images/logo.png"></a>
      </div>
      
    </div> <!-- end cols -->
  </div> <!-- end row -->
  
{% endblock %}

{% block bottomscripts %}
<script type="text/javascript">
      window.user = {{user|json|safe}};
    </script>
    <script>
      $(function () {
        $('#emailinput').focus();
      })
    </script>
    <!-- The required Stripe lib -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <!-- jQuery is used only for this example; it isn't required to use Stripe -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_tg1zjaGO6H3EKQAF4afVV4jmmLJua');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
  </script>
{% endblock %}
