{% extends "layout.html" %}

{% block content %}
  {% include "./partials/howToVideoModal.html" %}
  <div class='heading'>[code your bracket]</div>

  <div class='container' id='front_page_container'>
    {% include "./partials/show_flash.html" %}
    
    <div class='row'>
      <div id='front_message'>
        <!-- <h2>Still using a mouse to fill out your bracket?</h2> -->
        <!-- <h2>Win the $2,000 Cash Prize for the Best Code Bracket</h2> -->
        <h2>This March, Code Your Bracket and Win $2000</h2>
        <p>Learn to code and make a <strong>smart college basketball bracket</strong> in about <strong>two minutes</strong>!</p>
      </div>
      <div id='front_buttons'>
        <a href='/code_bracket' class='btn btn-primary btn-lg btn-codersbracket'>Build A Code Bracket</a>
        <a href='#' class='btn btn-primary btn-lg btn-codersbracket' id="watch_tutorial_btn" style='width:330px;'>Watch 2-min tutorial</a>
      </div>
    </div> <!-- end row -->
  </div> <!-- end content_container -->
  <div id="text-editor-animate">
    <img src="/images/text-editor3.png" />
  </div>
  
{% endblock %}

{% block bottomscripts %}
  <script type="text/javascript">
    window.user = {{user|json|safe}};
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
  <script>
    setupEvents();
  </script>
{% endblock %}
