{% extends "layout.html" %}

{% block title %}
  Coder's Bracket Standings
{% endblock%}

{% block content %}
  <div class='row rules_page'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h1>Top 100 Standings</h1>
      <br>
        <table class='table'>
          <thead>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Champion</th>
              <th>Coder Nickname</th>
              <th>Score</th>
              <th>Pct'ile</th>
              {% if bracket.code_lines %}
                <th>Code Lines</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for bracket in brackets %}
              <tr>
                <td>{{bracket.rank}}</td>
                <td><a href="/code_bracket/{{bracket._id.toString()}}">{{bracket.name}}</a></td>
                <td>{{bracket.winner.name}}</td>
                <td>{{bracket.user_id.nickname}}</td>
                <td>{{bracket.score}}</td>
                <td>{{bracket.ptile|default('-')}}%</td>
                {% if bracket.code_lines %}
                  <td>{{bracket.code_lines}}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock%}