{% extends "layout.html" %}
  
{% block content %}
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h1>Important Dates</h1>
      <p>Coder's Bracket organizers reserve the right to update the timeline if necessary as the tournament progresses.</p>
      <br>
      <table class='table' id='dates_table'>
        <thead><tr><th>Date</th><th>Description</th></tr></thead>
        <tbody>
        <tr><td class='date'><strong>March 10th</strong></td><td>Participants can start playing with old data from years past to tweak their function. The full interface of Coder's Bracket will be available and working (just with old data). </td></tr>
        <tr><td class='date'><strong>March 15th</strong></td><td>This Sunday is "Selection Sunday" where the final 2015 bracket is released. We will immediately update data on our servers and open the tournament. You can start submitting brackets immediately after.</td></tr>
        <tr><td class='date'><strong>March 19th</strong></td><td>Submissions are due at 12:15 PM EDT. Entries will be accepted until the start of the first game. </td></tr>
        <tr><td class='date'><strong>April 6th</strong></td><td>Championship Game.</td></tr>
        <tr><td class='date'><strong>April 7th</strong></td><td>Winners announced and prizes distributed.</td></tr>
        </tbody>
      </table>
    </div>
  </div>
    
{% endblock %}