{% extends "layout.html" %}

{% block headbottom %}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "933db6c1-1e54-4f17-b394-18a05a7d0e43", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>
    <style>
    /*  to make sure the final winner shows up here, even though it's hidden on the generate code bracket page */
    #ff-rd2-span {display:block !important;}
    </style>
{% endblock %}

{% block content %}
    {% include "./partials/show_flash.html" %}

    <style type="text/css" media="screen">
       div.ace_cursor {
           opacity: 0 !important;
       }
    </style>

    <div class="btn-group pull-right" style='margin-top: 25px;'>
      <div class="btn-group hide">
        <button type="button" class="btn btn-default noround" id='btn-savebracket'><i class="fa fa-files-o"></i> Clone</button>
      </div>

      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' st_via="fullstack" st_title="My March Madness Bracket Made with Code @codersbracket!" displayText='Tweet'></span>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
      <span class='st_pinterest_large' displayText='Pinterest'></span>
      <span class='st_email_large' displayText='Email'></span>

    </div>
    <h1>
      {% if bracket.name %}{{bracket.name}}{% else %}Your Bracket{% endif %}
      <div class='by_user'>{% if bracket.user_id.nickname %}By {{bracket.user_id.nickname}}{% else %}{% if bracket.user_id.name.first %}{{bracket.user_id.first.name}}{% endif %}{% endif %}</div>

    </h1>

    <hr>
    <div class='row' id='view_bracket_row'>
      <div class='col-lg-4 col-md-2'>
        <h3 class='col_title'>Bracket Code <a href='#' class="btn noround hide" title='Expand Code' id='btn_expand_code'><i class='fa fa-arrows-alt'></i></a></h3>
        <div id='editor_container' class='view_page_editor_container'>
          <div id='editor' class='view_page_editor'>{{bracket.code}}</div>
        </div> <!-- end editor_container -->
      </div>
      <div class='col-lg-8 col-md-10'>
        <h3 class='col_title'>The Bracket <a href='#' class="btn noround hide" title='Expand Bracket' id='btn_expand_bracket'><i class='fa fa-arrows-alt'></i></a></h3>
        <div id='bracket-wrap' style='padding: 20px; border: 1px dashed black; '>
          <div id='bracket' class='view_page_bracket'></div>
        </div> <!-- end bracket-wrap -->

        {% include "./partials/bracket_drawing_boxes.html" %}
        {% include "./partials/bracket_drawing_boxes_with_results.html" %}
        <div class='clearfix'></div>
      </div>
    </div>
{% endblock %}

{% block bottomscripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>

  <script>
  var editor = setupAceEditor();
  editor.setReadOnly(true);
  var teamsbysid = getTeamsBySid();
  var bracketObj = {{bracket|json|safe}};
  var bracketData = eval(bracketObj.data[0]);

  var teams = {{teams|json|safe}};
  var bracket = new Bracket(bracketData,teams);
  //debugger;
  bracket.winner = bracketObj.winner.sid;
  {% if master %}
    var master_bracket = eval({{master|json|safe}});
    var html = bracket.generateBracketHtml(master_bracket);
  {% else %}
    var html = bracket.generateBracketHtml();
  {% endif %}
  
  $('#bracket').html(" ");
  $('#bracket').html(html);
  
  // $(function() { $('.b').fadeOut().complete(function(){
    // $('.b').fadeIn();
  // });
  // });  
  </script>
{% endblock %}