{% extends "../layout.html" %}

{% block title %}
Manage Groups
{% endblock%}

{% block content %}

<div class="container" ng-controller="GroupManageCtrl">
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h1 style='margin-bottom: 20px;'>My Bracket Pools</h1>
      {% set groups = bootstrapData.groups %}
      {% if groups.length > 0 %}
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Bracket</th>
            <!-- <th>Actions</th> -->
          </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
              <td>{{loop.index}}</td>
              <td><a href="/groups/{{group._id}}">{{group.name}}</a></td>
              <td>{% if group.bracket %}{{ group.bracket.name }}{% else %}<a href='/groups/{{group._id}}/settings'>Pick Bracket for Pool</a>{% endif %}</td>
              <!-- <td><a href="/code_bracket/{{bracket._id.toString()}}/edit" class='btn btn-sm btn-default'>Edit</a> <a  class='btn btn-sm btn-default' href="/code_bracket/{{bracket._id.toString()}}/delete">Delete</a></td> -->
            </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>You don't have any groups yet. <a href='/groups/create'>Make one!</a></p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
