{% extends "default.html" %}

{% block content %}

<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top">

      <!-- // Begin Module: Standard Content \\ -->
      <table border="0" cellpadding="20" cellspacing="0" width="100%">
        <tr>
          <td valign="top" class="bodyContent">
            <div mc:edit="std_content00">
              <h2 class="h2">Please reset your password.</h2>
              Please click the following link to reset you password. This link will only be valid for 1 hour:
              <br />
            </div>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top" style="padding-top:0;">
            <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
              <tr>
                <td valign="middle" class="templateButtonContent">
                  <div mc:edit="std_content01">
                    <a href="{{link}}" target="_blank">Reset Password</a>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

{% endblock %}