{% extends "default.html" %}

{% block content %}
  <table border="0" cellpadding="20" cellspacing="0" width="100%">
    <tr>
      <td valign="top" class="bodyContent">
        <div mc:edit="std_content00">
          <h2 class="h2">Reminder: Code Bracket Deadline TODAY at 12:15pm EST</h2>
          You only have a few more hours to submit brackets at <a href='https://www.codersbracket.com'>Coders Bracket</a> toward the $2000 grand prize + other <a href='https://www.codersbracket.com/contest/prizes'>seriously awesome prizes</a> (like 2 years free GitHub, 1 year free Code School and free premium Udemy courses).
          <br />
          <h2>Support STEM education with a Donation</h2>
          Please don't forget to contribute what you can to <a href='https://www.codersbracket.com/donate'>support our non-profits</a>. They are working hard to advance the cause of STEM education and need help! Remember, 100% of your donations will go to the non-profits. <br>
          <h3>More Prizes for Donors</h3>
          Not to mention, we have more prizes for the donors including <strong>five one-year free</strong> GitHub accounts to people who have donated $10. You have a much better chance of winning these vs the normal pool. <br><br>
          <center><h3><a href='https://www.codersbracket.com/donate'>Donate Now</a></h3></center>
          <br>
          <h2>Hiring for well-trained JavaScript developers?</h2>
          Coder's Bracket was built by the students and staff at Fullstack Academy. Our students have been studying JavaScript, Node.js/Express and Angular.js for 12+ hours a day for almost 10 weeks now.<br><br>
          Our hiring day is coming up and if you are interested in getting access, please <a href='http://www.fullstackacademy.com/employers'>send us a note</a>. We are happy to tell you more about our program, curriculum and why our students are exceptional.
          <br><br>
          Thanks and Good Luck to all!
        </div>
      </td>
    </tr>
  </table>

{% endblock %}