{% extends "default.html" %}

{% block content %}
  <table border="0" cellpadding="20" cellspacing="0" width="100%">
    <tr>
      <td valign="top" class="bodyContent">
        <div mc:edit="std_content00">
          <h2 class="h2">Welcome to CodersBracket! Please confirm your email.</h2>
          Please confirm your email address by clicking on the button below. You may also visit the confirm URL directly: {{confirm_link}}
          <br />
        </div>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="padding-top:0;">
        <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
          <tr>
            <td valign="middle" class="templateButtonContent">
              <div mc:edit="std_content01">
                <a href="{{confirm_link}}" target="_blank">Confirm Email</a>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}