@import url(//fonts.googleapis.com/css?family=Satisfy);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

html {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
/*  height: 100%;*/
/*  background: white;*/
}
body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

@font-face {font-family: 'Nexa Black';src: url('webfonts/2A0305_0_0.eot');src: url('webfonts/2A0305_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2A0305_0_0.woff') format('woff'),url('webfonts/2A0305_0_0.ttf') format('truetype');}

body.home {
    background: #f34c0f; /* Old browsers */
    background: -moz-linear-gradient(top, #f34c0f 50%, #e23710 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f34c0f), color-stop(100%,#e23710));*/ /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f34c0f 50%,#e23710 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f34c0f 50%,#e23710 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f34c0f 50%,#e23710 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f34c0f 50%,#e23710 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34c0f', endColorstr='#e23710',GradientType=0 ); /* IE6-9 */
}

a {
  color: #C43410;

  &:hover{
    color: #FF9600;
    text-decoration: underline;
  }
}

#add_to_group {
  font: normal 17px "Open Sans", Arial, sans-serif;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
/*  color: black;*/
  i {
    color: black;
  }
}

#assign_to_group {
  display:none;
}

.cb_input {
  width: 380px;
  display: inline-block;
  padding: 5px 15px;
  font-size: 25px;
  height: 60px;
  border-radius: 0;
}

.heading {
  margin-top: 60px;
  font: normal 80px "Nexa Black", Arial;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 0px 8px #C3440D;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  position:relative;
}

#front_buttons {
  text-align: center;
  margin-top: 0px;
  input[type='submit'] {
    margin-top: -10px;
  }
  a {
    margin: 0 14px;
    margin-top: -10px;
    box-shadow: 1px 1px 15px rgba(20,20,20,.4);
  }

}

#thanks {
   font: normal 24px "Open Sans", Arial;
   text-align: center;
   padding: 30px 0 10px;
   display:none;
}

#front_message {
/*  background: rgba(0,0,0,.5);*/
  color: #6C160B;
  padding: 1px 20px 20px;
/*  color: #fff;*/
  text-align: center;
  width: 800px;
  border-radius: 20px;
  margin: 20px auto 15px;

  h2 {
    font-family: Satisfy;
    margin-bottom: 20px;
    color: #000;
  }

  p {
    line-height: 150%;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    margin: 20px 0 0;
  }
}

#front_page_container {
  z-index: 2;
  position: relative;
}

#fslogo {
  margin-right: 10px;
}

#fssig {
  display: none;
}

body.home #fssig {
/*  margin-top: 10px;*/
  display:block;
  position: relative;

  #sig_start_message {
    padding: 5px;
  }
  #sig_img_cont {
    background: #e23710;
    z-index: 2;
    position: relative;
    padding: 5px 0;
  }
  span {
    position: absolute;
    left: 0px;
    width: 220px;
    z-index: 0;
    color: #fff; font: normal 24px Satisfy,georgia,"open sans",sans-serif;
    display:inline-block;
    margin-right: 12px;
  }
  img {
/*    margin-top: 14px;*/
    border: 0;
    height: 34px;
  }
}

@function exponent($base, $exponent) {
  // reset value
  $value: $base;
  // positive intergers get multiplied
  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base; } }
  // negitive intergers get divided. A number divided by itself is 1
  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base; } }
  // return the last value written
  @return $value;
}

@function pow($base, $exponent) {
  @return exponent($base, $exponent);
}

$rounds: 5;
$b_height: $rounds*170px;
$font_size: 0.013*$b_height;
$line_height: 0.0175*$b_height;
$each_round_pct: 0.09;
$editor_background: #FFF7DB;
$view_editor_background: #FFFFFF;

#footer {
  margin: 20px 20px;
/*  margin-top: 20px;*/
}

.home #footer {
  hr {
    border-color: #D8430E;
  }
}

#editor {
    width: 100%;
/*    height: 400px;*/
    margin: 0px auto;
    font-size: 14px;
    line-height: 150%;
    overflow:hidden;
    z-index: 45;
}

@media (max-width: 750px) {
  #editor {
    height: 300px; // overrride resize at start
    font-size: 13px;
  }
}

@media (min-width:750px) and (max-width: 970px) {
  #editor {
    height: 400px;
    font-size: 13px;
  }
}

@media (min-width:970px) and (max-width: 1170px) {
  #editor {
    height: 400px;
    font-size: 14px;
  }
}

@media (min-width:1170px) {
  #editor {
    height: 500px;
    font-size: 14px;
  }
}

.ace_scrollbar {
    display: none !important;
}

.ace_scroller {
  overflow-x: hidden !important;
}

#help_section {

}
#open_help {
  background: rgba(199, 2, 2,.5);
  background: rgba(195, 68, 13, .5);
  padding: 5px 7px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  display: block;
  i {
    width: 20px;
  }
}

#help_section {

}

#help_doc {
  display: none;
  background: white;
  color: black;
  padding: 10px;

  .title {
    margin-bottom: 10px; font-size: 18px;
    font-weight: bold;
  }

  .subtitle {
    font-weight: bold;
    margin: 20px 0 8px; font-size: 16px;
  }
}

#editor_help_container {
  border: 1px dashed #92AAED;
  background: url(/images/grid1.png);
}

#editor_container {
  padding: 20px 10px;
/*  background: #fff;*/
  width: 100%;
  height: 100%;
  margin: 0 auto 10px;

/*  border-radius: 20px;*/
/*  position: absolute;*/
/*  background: #0D1E3C;*/
}

#editor_screen {
  background: rgba(255,255,255,.7);
  width: 100%;
  height: 100%;
  z-index: 46;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 10px;

  h1{
    font-weight: bold;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  }

  a.btn {
    i {
      float: left;
      font-size: 30px;
      display: block;
      margin-right: 10px;
    }
    .subtitle {
      font-size: 12px;
      font-weight: normal;
    }
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    width: 220px;
    margin-right: 15px;
  }
}

#btn-generatebracket{
/*  text-shadow: 1px 1px 1px #333;*/
  color:#333;
  font-weight: bold !important;
}
#view_bracket_row {
  h3.col_title {
    margin-top: 0;
    font-weight: bold;
  }
}
#editor_w_buttons {
  position:absolute;
  top: 20px;
/*  left: (2*$rounds*100px + 200px)/2 - 330px;*/
  z-index: 300;
}

.view_page_editor_container {
  background: url(/images/grid1.png) !important;
}

.view_page_editor {
/*  background-color: $view_editor_background !important;*/
  background: transparent !important;
}

.view_page_bracket {
  background: #fff !important;
}

.edit_page_editor_container {
/*  background-color: $editor_background !important;*/
  background: url(/images/grid1.png) !important;

}
.edit_page_editor {
/*  background-color: $view_editor_background !important;*/
  background: transparent !important;
}

#generate_button {
  text-align:center;
  margin:10px 0;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
/*  background-color: #f5f5f5;*/
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container {
  width: auto;
/*  max-width: 2*$rounds*100px + 200px;*/
  padding: 0 15px;

  .cs_import {
    display: block;
    margin-bottom: 15px;
  }
}
.container .text-muted {
  margin: 20px 0;
}

#content_container {
  position:relative;
/*  max-width: 2*$rounds*100px + 200px;*/
  margin: 0 auto;
}

#bracket-wrap {
/*  position: absolute;
  top: 0;
*/  background-color: #fff;
  margin-right: 10px;
  width: 100%;
/*  display:none;*/
}

#bracket {
/*  width: 2*$rounds*100px + 200px;*/
  width: 100%;
  min-width: 700px;
  height: $b_height;
/*  border: 1px solid #ccc;*/
  position: relative;
  overflow: hidden;
}
/*
.bracket_blur {
  -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(15px);
}
*/
.bracket_blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  filter: url(#blur);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  opacity: .5;
}

#bracket_blur_image {
  img {
    width: 100%;
    height: 100%;
  }
  position:absolute;
  top: 0;
  left: 0;
}
#bracket_status {
  margin-bottom: 10px;
  text-align: center;
  font: bold 18px "open sans", arial, sans-serif;
  display:none;
  div {
    margin-top: 4px;
  }
}

.sample-code {
  display:none;
}

.b {
  position:absolute;
  border: 1px solid black;
  background: #fff;
/*  width: $rounds*100px;*/
  width: percentage($rounds*$each_round_pct);
  z-index: 1;

  .top {
    position:absolute;
    top: -1 * $line_height;
    opacity: 0.0;
    z-index:2;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    opacity: 0.0;
  }

  .team {
    font-size: $font_size;
    font-family: verdana,arial,sans-serif !important;
  }

  &:hover {
    .team {
      color: red;
    }
/*    background: yellow;*/
  }
}

.view_page_bracket {
  .top {
    opacity: 1;
  }
  .bottom {
    opacity: 1;
  }
}

.first_round {
  .top {
    opacity:1;
  }
  .bottom {
    opacity:1;
  }

}
.bleft {
  text-align: right;
  .team {
    padding-right: 3px;
  }
  .top {
    right: 0;
  }
  .bottom{
    right: 0;
  }
}

.bright {
  .team {
    padding-left: 3px;
  }
}

$winner_box_width: 5*$each_round_pct;

#ff-rd1 {
  position: relative;
  width: percentage(1*$winner_box_width);
  border-bottom: 1px solid #333;
  height: 40px;
  left: percentage(0.5 - $winner_box_width/2);
  background: white;
  top: percentage(0.5 - 0.05);

  .ff-team {
    font-size: $font_size + 3px;
    position: absolute;
    bottom: 0;
    font-weight: bold;
  }

  #ff-rd1-team1 {
    text-align: left;
    left: 0;
  }

  #ff-rd1-team2 {
    text-align: right;
    right: 0;
  }

  #ff-rd2 {
    position: absolute;
    bottom: -2*$line_height;
    background: white;
    border: 2px solid #333;
    width: percentage($winner_box_width);
    min-height: 4*$line_height;
    left: percentage(0.5 - $winner_box_width/2);
    font: normal 26px arial,sans-serif;
    text-align: center;
    padding: 13px 5px;
    letter-spacing: -0.5px;

  }

  #ff-rd2-span {
    display:none;
  }

}

@for $i from 0 through ($rounds - 1) {
  @for $j from 0 through (pow(2,$i) - 1) {

    #b#{$i}-#{$j}-left {
      //left: $i*-100px;
      left: $i*percentage(-1 * $each_round_pct);
      top: $b_height/pow(2,$i+2)+($b_height/pow(2,$i+1))*($j)*2;
    }

    #b#{$i}-#{$j}-right {
      //right: $i*-100px;
      right: $i*percentage(-1 * $each_round_pct);
      top: $b_height/pow(2,$i+2)+($b_height/pow(2,$i+1))*($j)*2;
    }
  }

  .b#{$i} {
    height: $b_height/pow(2,$i+1);
    z-index: $i;
  }
}
/*final four*/
.bleft.b0 {
  border-left: 0;
}

.bright.b0 {
  border-right: 0;
}

.b0 {
  border-left: 0;
  border-right: 0;
}

#matrix {
  border-radius: 20px;
  opacity: .6;
  z-index: 10;
  position: absolute;
  text-align: center;
  font: normal 24px "open sans", arial, sans-serif;
}

#documentation_overlay {
  display: none;
  height: 90%;
  width: 90%;
  padding: 0px;
  z-index: 12;
  position: absolute;
  top: 0;
  left: 5%;
  background: transparent;
  #help_doc {
    padding: 20px;
    display: block;
    background: rgba(255,255,255,.9) !important;
  }

  #close_documentation_overlay {
    display: block;
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 5px;
    color: black;
    padding: 0 4px;
    &:hover {
      text-decoration: none;
      background-color: #000;
      color: #fff;
      border-radius: 3px;
    }
  }
}

#matrix_titles {
  display:none;
  color: #fff;
  text-shadow: black 1px 1px 0.2em;
  font: bold 36px arial,sans-serif;
  text-align: center;
  padding-top: $b_height/2.5;
  width: 2*$rounds*100px + 200px;
  height: $b_height;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
}

#pagetitle {
  h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Press Start 2P";
    span {
      font-family: Satisfy,arial,sans-serif;
      font-weight: normal;
      display: block;
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  a {
    color: #FF6B0A;
    text-decoration: none;
    padding: 10px;
    display:inline-block;
    font-size: 18px;
  }
  a:hover {
    text-decoration: underline;
  }
  text-align: center;
  margin-bottom: 30px;
}

/* ANIMATION */
#text-editor-animate {
/*    width: 100%;*/
		text-align:center;
		margin-top: 40px;
/*    position: absolute;*/
/*    bottom: -600px;*/
/*    overflow: hidden;*/
/*    z-index: 0;*/
/*    -webkit-animation: floatBubble 1s normal ease-out;
    animation: floatBubble 1s normal ease-out;
*/
}

#text-editor-animate img {
  z-index: 0;
}

#text-editor-animate:hover {
  z-index: 0;
}

@-webkit-keyframes floatBubble {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes floatBubble {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: 0px;
    }
}
/*END ANIMATION*/

#dates_table {
  &:first-child {
    border: 0;
  }

  .date {
    width: 160px;
  }
}

.modal-content {
  padding: 20px;
}

#register_error, #register_spinner, #save_bracket_spinner {
  display:none;
}

.rules_page {
  .rule_title {
    font: bold 16px "open sans", sans-serif;
  }
}

.inline {
  display: inline-block;
  width: 49%;
}
.inline.second {
  margin-left: 2%;
}

h1 > .by_user {
  font-size: 20px;
  margin-left: 10px;
  display: inline-block;
}

ul.contest_rules {
  margin-top: 5px;
  li {
    margin: 5px 0;
  }
}

h3.panel-title {
  font-weight: bold;
}
#ngo_header {
  margin-top: 30px;
}
#ngo_logos {
/*  text-align: center;*/
  margin-top: 20px;
}
.donate_form {
  margin: 40px auto 0 auto;
  width: 600px;

  .form-row {
    margin-bottom: 10px;
  }
  
}

#totalDonationBox {
}

#totalDonationAmt {
  font-size: 20px;
  font-weight: normal;
  
  &:before {
    content: "$";
  }
}

#otherAmountInput {
  width: 80px;
}

.correctpick {
  color: green !important;
  font-weight: bold !important;
}

.wrongpick {
  font-weight: bold !important;
  color: red !important;
}

[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
